[[source]]
name = "pypi"
url = "https://pypi.org/simple"вв
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"yh
django-debug-toolbar = "*"ff
django-crispy-forms = "*"
django-recaptcha = "*"django-crispy-forms = "*"
django-recaptcha = "*"django-crispy-forms = "*"
django-recaptcha = "*"
factory-boy = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-swagger = "*"django-rest-swagger = "*"django-rest-swagger = "*"
celery = "*"
django-celery-results = "*"
pika = "*"
tensorflow-gpu = "*"
falcon = "*"
inflect = "*"в
audioread = "*"
librosa = "*"
matplotlib = "*"в
numpy = "*"
scipy = "*"
tqdm = "*"
unidecode = "*"
sounddevice = "*"
lws = "*"
keras = "*"
pyaudio = "*"
coverage = "*"

[requires]
python_version = "3.6"
а
