[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
django-recaptcha = "*"
factory-boy = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-swagger = "*"
celery = "*"
django-celery-results = "*"
pika = "*"
tensorflow-gpu = "*"
falcon = "*"
inflect = "*"
audioread = "*"
librosa = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
tqdm = "*"
unidecode = "*"
sounddevice = "*"
lws = "*"
keras = "*"
pyaudio = "*"
coverage = "*"

[requires]
python_version = "3.6"

