{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
  Utter
{% endblock %}

{% block body %}
  <!-- INFORMATION -->
    <!--*************-->
    <!--*************-->
    {% if request.user.is_authenticated %}
        <div class="info-panel">
            <div class="welcome-info">
                <div class="auth-token">
                    <div id="copyToken" class="get-token" onclick="copyToken()">Get token</div>
                </div>
                <div class="name-info">
                    <span>{{ request.user.email }}</span>
                </div>
            </div>
            <div class="balance-info">
                <a href="#">
                    <div class="btn-deposit">
                        <span>Deposit</span>
                    </div>
                </a>
                <div class="balance-info-sym"><span class="symbols-balance">{{ request.user.balance }} : symbols</span></div>
            </div>
        </div> 
    {% endif %}
    <!--*************-->
    <!--*************-->
    <!--*************-->
    <!-- TEXT INPUT -->
    <!--*************-->
    <!--*************-->
    <form action="create_voice/" method="post" id="voice_form">
        {% csrf_token %}
        <div class="main-form">
            <div class="text-input">
                {{ form.text }}
                
            </div>
            <div class="settings-input">
                <div class="language-setting">
                    {{ form.language }}
                    
                </div>
                <div class="pitch-setting">
                    <span class="pitch-span">Pitch:</span>
                    <label class="pitch-label" type="text" id="textInput">0</label>
                    <div class="input-pitch">
                        {{ form.pitch }}
                        
                        
                    </div>
                </div>
                <div class="voice-setting">
                    {{ form.voice }}
                    
                </div>
                <div class="speed-setting">
                    <span class="speed-span">Speed:</span>
                    <label class="speed-label" type="text" id="textInput2">1</label>
                    <div class="input-pitch">
                        {{ form.speed }}
                       
                        
                    </div>
                </div>
                <div class="glados-setting">
                </div>
            </div>
            <div class="accept-input">
                <input type="submit" class="btn btn-primary" value="Speek">
                <div class="cssload-bell">
                    <div class="cssload-circle">
                        <div class="cssload-inner"></div>
                    </div>
                    <div class="cssload-circle">
                        <div class="cssload-inner"></div>
                    </div>
                    <div class="cssload-circle">
                        <div class="cssload-inner"></div>
                    </div>
                    <div class="cssload-circle">
                        <div class="cssload-inner"></div>
                    </div>
                    <div class="cssload-circle">
                        <div class="cssload-inner"></div>
                    </div>
                </div>
                <button class="download-input-btn">and download</button>
            </div>
        </div>
    </form>
    <!--*************-->
    <!--*************-->
    <!--*************-->
    <!-- FILE UPLOAD-->
    <!--************-->
    <!--************-->
    <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" style="display:none" accept=".txt,.doc" />
    <label for="file-1" class="btn-dwn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Choose a file&hellip;</span></label>
    <!--************-->
    <!--************-->
    <!--************-->
    <!-- AUDIO PLAYER -->
    <!--**************-->
    <!--**************-->
    <div class="audio-player">
        <div id="audio-spectrum"></div>
        <!-- Create action buttons -->
        <input type="button" id="btn-pause" value="Pause" disabled="disabled" />
        <input type="button" id="btn-play" value="Play" disabled="disabled" />
    </div>
    <!--**************-->
    <!--**************-->
    <!--**************-->
    <!-- FILE TABLE -->
    <!--************-->
    <!--************-->
    {% if request.user.is_authenticated %}
        {% if tracks %}
            <div class="files">
            <table id="customers" align="center">
                <tr >
                    <th>Play</th>
                    <th class="tb-file">Name</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Language</th>
                    <th>Voice</th>
                    <th>Speed</th>
                    <th>Pitch</th>
                    <th>Download</th>
                    <th class="tb-delete">Delete</th>
                </tr>
                {% for track in tracks %}
                    <tr >
                        <td><img class="play-img" src="{% static 'image/play.png' %}"></td>
                        <td>{{ track }}</td>
                        <td><span>1:30</span></td>
                        <td>{{ track.created | naturalday}}</td>
                        <td><span>{{ track.get_language_display }}</span></td>
                        <td><span>{{ track.get_voice_display }}</span></td>
                        <td align="center"><span>{{ track.speed }}</span></td>
                        <td align="center"><span>{{ track.pitch }}</span></td>
                        <td><a class="file-ref" href="{% static 'audio/rammstein.mp3' %}" download>
                                <img class="download-img" src="{% static 'image/download-img.png' %}"></a></td>
                        <td><a href="{% url "core:delete_track" pk=track.id %}" class="link_del_track">
                                <img class="delete-img" src="{% static 'image/delete.png' %}"></a></td>
                    </tr>
                
                {% endfor %}
                
            
            </table>
        </div>
        {% endif %}
        
    {% endif %}
    <div class="superinfo"></div>
{% endblock %}
